/*===================== GOOGLE FONT ================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*===================== GOOGLE FONT ================== */

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    
}
hr{
    border: 1px solid #D1D1D1;
    border-bottom: none;
    margin-bottom: 27px;
}
/* top players strat */
.top-players{
    margin-bottom: 21px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}

/* top players end */

/* Top Blog */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}


/* Courses start */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course{
    width: 250.42px;
    background: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    border-radius: 14.6913px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;

    
}
.courses .course img{
    width: 224px;

   
}
.course-title{
    font-size: 18.0336px;
    color: #1E1E1E;
    margin-bottom: 0;
}
.course-author{
    font-size: 14.6913px;
    color: #ED6B4F;
    margin-top: 7px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star.filled{
    color: #FFC014;
    font-size: 12px;
}
.fa-star.emty{
    color: #AEAEAE;
    font-size: 12px;
}
.rating span{
    color: #A2A2A2;
    font-size: 14.6913px;
    margin-left: 5px;
}
.course-duration{
    font-weight: 600;
    font-size: 14.6913px;
    background: #FEE5DF;
    border-radius: 14.6913px;
    color: #ED6B4F;
    padding: 4px 12px;
    margin-right: 12px;
}

/*================Moblie Device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs{
        grid-template-columns: 1fr;
    }
    .player, .blog{
        flex-direction: column;
        align-items: center;
    }
    .courses{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 15px;
    }

}





